<div class="text-center">
  <div class="card">
  <br>
  <h1 class="display-4">New Listing</h1>

  <%= render 'form', listing: @listing %>

  <div class="container">
  <hr>
  </div>

  <div>
  <%= link_to 'Back', :back, class:"btn btn-primary" %>
  <br>
  <br>
  </div>

  </div>
</div>
