<div class="text-center">

  <br>

  <div class="card">
    <br>
    <%= link_to "Listings", seller_listings_path(current_seller), class:"display-4"%>
    <br>

  <% @listings.each do |listing| %>
  <%= listing.address %>
  <% end %>

  </div>


</div>
