<div class="text-center">

  <br>

  <div class="card">

    <p class="display-4"> Sellers#show</p>
    <hr>
    <p class="display-4"> <%= @seller.email%>'s Listings</p>

    <div class="container">

      <hr>

      <% if current_seller = Seller.find(params[:id]) %>
        <%= link_to "Post Listing", new_seller_listing_path(@seller), class:"btn btn-success" %>
        <hr>
      <% end %>

      <br>
      <% @listings.each do |listing| %>
      <%= link_to "#{listing.address}", listing %>
      <br>
      <% end %>
      <br>

    </div>
  </div>
</div>
