<div class="text-center">

  <br>

  <div class="card">
    <br>
    <%= link_to "Listings", seller_listings_path(current_seller), class:"display-4"%>

    <div class="container">

      <hr>
      <br>
      <% @listings.each do |listing| %>
      <%= listing.address %>
      <br>
      <% end %>
      <br>

    </div>
  </div>
</div>
